<h1>Página de cadastro de Aluno</h1>

<form action='@Url.Action("Cadastrar")' method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" name="nomeAluno" placeholder="Ex. Bianca Chagas" id="nome" class="form-control" />
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" name="emailAluno" placeholder="Ex. bianca@gmail.com" id="email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="end">Endereço:</label>
        <input type="text" name="enderecoAluno" placeholder="Ex. Rua 182" id="end" class="form-control" />
    </div>
    <div class="form-group">
        <label for="tel">Telefone:</label>
        <input type="text" name="telefoneAluno" placeholder="Ex. 11 91111-2222" id="tel" class="form-control" />
    </div>
    <div class="form-group">
        <label for="esc">Escolaridade:</label>
        <input type="text" name="escolaridadeAluno" placeholder="Ex. 1° ano" id="esc" class="form-control" />
    </div>
    <button type="submit">Cadastrar</button>

</form>
