@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Olá, eu sou a Bianca</h1>
    <p>Minha primeira aplicação usando MVC Razor</p>
    <p>Cadastra um aluno ae por favor</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
